<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<!-- 빈칸이 있을 시 null로 인식해라 -->
	
	<typeAliases>
		<typeAlias type="com.kh.solomon.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.solomon.board.model.vo.TBoard" alias="TBoard"/>
		<typeAlias type="com.kh.solomon.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.solomon.board.model.vo.Like" alias="Like"/>
		<typeAlias type="com.kh.solomon.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.solomon.member.model.vo.Point" alias="Point"/>
		<typeAlias type="com.kh.solomon.product.model.vo.Product" alias="Product"/>
		<typeAlias type="com.kh.solomon.product.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.solomon.product.model.vo.Order" alias="Order"/>
		<typeAlias type="com.kh.solomon.product.model.vo.OrderDetail" alias="OrderDetail"/>
		<typeAlias type="com.kh.solomon.product.model.vo.Category" alias="Category"/>
		<typeAlias type="com.kh.solomon.product.model.vo.Wish" alias="Wish"/>
		<typeAlias type="com.kh.solomon.product.model.vo.Cart" alias="Cart"/>
		<typeAlias type="com.kh.solomon.product.model.vo.Options" alias="Options"/>
		<typeAlias type="com.kh.solomon.product.model.vo.GroupBuyer" alias="GroupBuyer"/>
		<typeAlias type="com.kh.solomon.product.model.vo.GroupBuy" alias="GroupBuy"/>
		<typeAlias type="com.kh.solomon.product.model.vo.NMemberCart" alias="NMemberCart"/>
		<typeAlias type="com.kh.solomon.qna.model.vo.Question" alias="Question"/>
		<typeAlias type="com.kh.solomon.qna.model.vo.Answer" alias="Answer"/>
		<typeAlias type="com.kh.solomon.common.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.solomon.common.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.solomon.common.model.vo.Advertisement" alias="Advertisement"/>
		<typeAlias type="com.kh.solomon.common.model.vo.Search" alias="Search"/>
		<typeAlias type="com.kh.solomon.common.model.vo.Alert" alias="Alert"/>
	</typeAliases>
	

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/common-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/product-mapper.xml"/>
		<mapper resource="/mappers/qna-mapper.xml"/>
	</mappers>
	<!-- 유의사항 : 미리 등록해두려면 해당 mapper 파일이 진짜 존재하고 있는 상태여야됨 (뿐만아니라 namespace까지도 지정되어있어야함) -->
	
</configuration>
